---
layout: default_feria
---
<div id="page" class="clearfix">
	<div class="container">
		<div class="section">
			<div class="row" >
				<div class="col-xs-12 col-md-6">
					<a target="_blank"  href="https://bolsatrabajo.ingenieria.unam.mx/">
						<img src="{{ site.data.generalinfo.url-main-image }}" width="450" alt="">
					</a>
					<h6 class="text-primary">{{ site.data.generalinfo.panal-Title }}</h6>
				</div>
				<div class="col-xs-12 col-md-6" >
					<div class="rombocontainer" style="float: left; width: 400px;background-color: #f0f0f0;">
						<div class="hex2-row">
							<div class="hex2"><div class="left"></div><div class="middle"></div><div class="right"></div></div>
							<div class="hex2 even2"><div class="left"></div>
							<div class="middle">
								<div class="iconos">
									<a href="horarios.html">
										<i class="icon-clock" title="Horarios"></i>
										<span class="text-center">{{ site.data.generalinfo.grl-schedules }}</span>
									</a>
								</div>
							</div>
							<div class="right"></div></div>
							<div class="hex2"><div class="left"></div><div class="middle"></div><div class="right"></div></div>
							<div class="hex2 even2"><div class="left"></div><div class="middle"></div><div class="right"></div></div>
						</div>
						<div class="hex2-row">
							<div class="hex2"><div class="left"></div>
							<div class="middle">
								<div class="iconos">
									<a href="empresas.html">
										<i class="icon-building" title="Empresas"></i>
										<span class="text-center">{{ site.data.generalinfo.grl-companies }}</span>
									</a>
								</div>
							</div>
							<div class="right"></div></div>
							<div class="hex2 even2"><div class="left"></div><div class="middle"></div><div class="right"></div></div>
							<div class="hex2"><div class="left"></div>
							<div class="middle">
								<div class="iconos">
									<a href="platicas.html">
										<i class="icon-users2" title="pláticas"></i>
										<span class="text-center">pláticas</span>
									</a>
								</div>
							</div>
							<div class="right"></div></div>
							<div class="hex2 even2"><div class="left"></div>
							<div class="middle">
								<div class="iconos">
									<a href="stands.html">
										<i class="icon-map-marker" title="Stands"></i>
										<span class="text-center">STANDS</span>
									</a>
								</div>
							</div>
							<div class="right"></div></div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<hr class="lineferia container" />
		
		<div class="row border">
			<div class="col-xs-12 col-md-6">
				<h3 class="text-primary">{{ site.data.generalinfo.grl-expoTitle }}</h3>				
				<p>{{ site.data.generalinfo.main-expoTitle}}</p>
       	<p>{{ site.data.generalinfo.main-anounce}}</p>
      	<p>{{ site.data.generalinfo.main-openning}}</p>
			</div>
			<div class="col-xs-12 col-md-6">
				<div id="carouselExampleFade2" class="carousel slide carousel-fade" data-ride="carousel">
					<div class="carousel-inner">
						{% assign isFirstF = true %}
						{% for pic in site.data.feria.photos %}
							{% if isFirstF == true %}
								<div class="carousel-item active"><img src="{{ pic.url }}" height="{{ pic.height }}" width="{{ pic.width }}"  alt="{{ pic.alt }}"></div>
							{% assign isFirstF = false %}
							{% else %}
								<div class="carousel-item"><img src="{{ pic.url }}" height="{{ pic.height }}" width="{{ pic.width }}"  alt="{{ pic.alt }}"></div>
							{% endif %}
						{% endfor %}
					</div>
				</div>
			</div>
		</div>

		<hr class="lineferia container" />

		<div class="row card flex-md-row mb-4 box-shadow">
			<div class="col-md-6 ml-auto mr-auto">
				<h3 class="text-primary">{{ site.data.generalinfo.empresas_titulo }}</h3>
			</div>
			<div class="col-md-6 ml-auto mr-auto" >
				<div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
					<div class="carousel-inner text-center">
					{% assign isFirst = true %}
					{% for company in site.data.companies.companies %}
						{% if isFirst == true %}
							<div class="carousel-item active" style="height:90px">
								<img alt="" src="{{ company.logourl }}" height="{{ company.height }}" alt="...">
							</div>
							{% assign isFirst = false %}
						{% else %}
							<div class="carousel-item" style="height:90px">
								<img alt="" src="{{ company.logourl }}" style="vertical-align:middle;" height="{{ company.height }}" alt="...">
							</div>
						{% endif %}
					{% endfor %}
					</div>
					<a class="carousel-control-prev"  href="#carouselExampleFade" role="button" data-slide="prev">
						<span class="carousel-control-prev-icon" style="background-color:#cd171e;" aria-hidden="true"></span>
						<span class="sr-only">Previo</span>
					</a>
					<a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
						<span class="carousel-control-next-icon" style="background-color:#cd171e;" aria-hidden="true"></span>
						<span class="sr-only">Siguiente</span>
					</a>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-12">
				<div class="card-deck mb-12 text-center">
					<div class="card mb-4 shadow-sm">
						<div class="card-header">
							<h4 class="text-primary">
								<i class="icon-clock"></i>
								<strong>{{ site.data.generalinfo.horarios_titulo }}</strong>
							</h4>
						</div>
						<div class="card-body">
							<p>{{ site.data.generalinfo.main-will-be-opened }}</p>
							<p>{{ site.data.generalinfo.horarios_noticia02 }}</p>
							<p>
								<a href="horarios.html" class="btn btn-outline-primary w-100" role="button">
									{{ site.data.generalinfo.horarios_texto_boton }}
								</a>
							</p>
						</div>
					</div>
					<div class="card mb-4 shadow-sm">
						<div class="card-header">
							<h4  class="text-primary">
								<i class="icon-users2"></i>
								<strong>{{ site.data.generalinfo.platicas_titulo }}</strong>
							</h4>
						</div>
						<div class="card-body">
							<p>{{ site.data.generalinfo.platicas_noticia01 }}</p>
							<p>{{ site.data.generalinfo.platicas_noticia02 }}</p>
							<p>
								<a href="platicas.html" class="btn btn-outline-primary w-100" role="button">
									{{ site.data.generalinfo.platicas_texto_boton }}
								</a>
							</p>
						</div>
					</div>
					<div class="card mb-4 shadow-sm">
						<div class="card-header">
							<h4 class="text-primary">
								<i class="icon-map"></i>
								<strong>{{ site.data.generalinfo.stands_titulo }}</strong>
							</h4>
						</div>
						<div class="card-body">
							<p>{{ site.data.generalinfo.stands_noticia01 }}</p>
							<p>{{ site.data.generalinfo.stands_noticia02 }}</p>
							<p>
								<a href="stands.html"  class="btn btn-outline-primary w-100" role="button">
									{{ site.data.generalinfo.stands_texto_boton }}
								</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-8">
				<div class="card flex-md-row mb-4 box-shadow">
					<div class="card-body d-flex flex-column align-items-start">
						<h3 class="mb-0">
							<strong class="d-inline-block mb-2 text-primary">{{ site.data.generalinfo.como_llegar }}</strong>
						</h3>
						<a target="_blank"  href="https://www.google.com/maps?ll=19.325705,-99.182213&z=15&t=m&hl=en-US&gl=MX&mapclient=embed&cid=12589897597017562439">
							<i class="icon-map-marker" aria-hidden="TRUE"></i>
							{{ site.data.generalinfo.google_maps }}
						</a>
						<br />
						<p class="card-text mb-auto">
							<a target="_blank" href="{{ site.data.generalinfo.index_metro_url }}" parent="_blank">
								<i class="icon-ticket" aria-hidden="TRUE"></i>
								{{ site.data.generalinfo.index_metro_title }}
							</a><br>
							<a target="_blank" href="{{ site.data.generalinfo.index_metrobus_url }}" parent="_blank">
								<i class="icon-road" aria-hidden="TRUE"></i>
								{{ site.data.generalinfo.index_metrobus_title }}
							</a>
						</p>
						<div class="mb-1 text-muted"><h5 class="primary-color">{{ site.data.generalinfo.transporte_publico }}</h5></div>
						
						<p class="card-text mb-auto">
							<a target="_blank" href="http://www.pumabus.unam.mx/" parent="_blank">
								<i class="icon-map" aria-hidden="TRUE"></i>
								{{ site.data.generalinfo.pumabus }}
							</a>
						</p>
						<div class="mb-1 text-muted"><h5 class="primary-color">{{ site.data.generalinfo.transporte_publico }}</h5></div>
						
					</div>
					<iframe class="card-img-right flex-auto d-none d-md-block" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3764.8721809638523!2d-99.1844845!3d19.331351999999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85ce0020ce0c7dc9%3A0xa56d188ae95369f0!2sUNAM+Facultad+de+Ingenier%C3%ADa!5e0!3m2!1ses!2smx!4v1441848297372" frameborder="0" style="border:0" allowfullscreen></iframe>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="card mb-4 shadow-sm">
					<div class="card-header">
						<h3 class="mb-0">
							<strong class="d-inline-block mb-2 text-primary">{{ site.data.generalinfo.noticias }}</strong>
						</h3>
					</div>
					<div class="card-body">
						<div class="col-12">
							<p>{{ site.data.generalinfo.noticia01 }}</p>
							<p>{{ site.data.generalinfo.noticia02 }}</p>
							<p>{{ site.data.generalinfo.noticia03 }}</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12 col-md-12">
				{% assign no_empresa = 1 %}
				{% assign no_columnas = 8 %}

				{% for company in site.data.companies.companies %}
					{% if no_empresa == 1 %}
					<div class="card-deck mb-3 text-center">
					{% endif %}
						<div class="card mb-4 shadow-sm">
							<div class="card-body card-marcas imggrow"  >
								<a href="{{ company.siteurl }}" target="_blank" >
									<img src="{{ company.logourl }}" style="vertical-align: middle" height="{{ company.height1 }}" title="{{ company.teaser }}">
								</a>
							</div>
						</div>
					{% if no_empresa == no_columnas %}
					</div>
						{% assign no_empresa = 0 %}
					{% endif %}
					{% assign no_empresa = no_empresa | plus:1 %}
				{% endfor %}
				
				{% if no_empresa > 1 %}
					{% for i in (no_empresa..no_columnas) %}
						<div class="card border-0 mb-4"></div>
					{% endfor %}
				{% endif %}

				{% if no_empresa != 1 %}
				</div>
				{% endif %}
		</div>
	</div>
</div>
