---
layout: default_feria
---
<div id="page" class="clearfix">
  <div class="main-content container">
      {% assign title01 = site.data.generalinfo.stands_titulo_pagina  %}
      {% assign title02 = site.data.generalinfo.stands_subtitulo_pagina %}
      {% assign title_icono = "icon-map-marker" %}
      {% assign title_tooltip = site.data.generalinfo.stands_tooltip_pagina %}
      
      {% assign link01_ref ="empresas.html" %}
      {% assign link01_icono = "icon-building" %}
      {% assign link01_nombre = "Empresas" %}

      {% assign link02_ref ="horarios.html" %}
      {% assign link02_icono = "icon-clock" %}
      {% assign link02_nombre = "Horarios" %}

      {% assign link03_ref ="platicas.html" %}
      {% assign link03_icono = "icon-users2" %}
      {% assign link03_nombre = "pláticas" %}

      {% assign link04_ref ="index.html" %}
      {% assign link04_icono = "icon-home" %}
      {% assign link04_nombre = "Inicio" %}
  
      {% include hexa.html %}
      <div class="card mb-3">
          <div class="card-header">
            <div class="row align-items-center">
              <div class="col">
                <h5 class="fs-0 mb-0">{{ site.data.generalinfo.stands_lugares }}</h5>
              </div>
              <div class="col-auto">&nbsp;</div>
            </div>
          </div>
          <div class="card-body">
            
              <div class="row">
                <div class="col-md-6 col-sm-12">
                  <table class="table table-sm mb-0 table-dashboard fs--1">
                      <thead class="bg-200 text-900">
                        <tr>
                          <th></th>
                          <th>Empresa</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for company in site.data.companies.companies %}
                        {% if company.column == 1 %}
                        <tr class="btn-reveal-trigger"></tr>
                          <td class="align-middle text-center">
                            <a href="{{ company.siteurl }}" target="_blank" >
                              <img class="mr-3"  src="{{ company.logourl}}" height="{{ company.heightStand }}" alt="{{ company.name }}">
                            </a>
                          </td>
                          <td class="align-middle">
                            <div class="dropdown text-sans-serif">
                                <a href="#" style="font-size: 22px;" onclick="javascript:return false;" title="{{ company.name }}" data-toggle="popover" data-trigger="focus" data-content="{{ company.abstract }}">{{ company.name  }}</a>
                            </div>
                          </td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                      </tbody>
                  </table>
                </div>
                <div class="col-md-6 col-sm-12">
                  <table class="table table-sm mb-0 table-dashboard fs--1">
                    <thead class="bg-200 text-900">
                      <tr>
                        <th></th>
                        <th>Empresa</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for company in site.data.companies.companies %}
                      {% if company.column == 2 %}
                      <tr class="btn-reveal-trigger"></tr>
                        <td class="align-middle text-center">
                          <a href="{{ company.siteurl }}" target="_blank">
                            <img class="mr-3" src="{{ company.logourl}}" height="{{ company.heightStand }}" alt="{{ company.name }}">
                          </a>
                        </td>
                        <td class="align-middle">
                          <div class="dropdown text-sans-serif">
                              <a style="font-size: 22px;" href="#" onclick="javascript:return false;" title="{{ company.name }}" data-toggle="popover" data-trigger="focus" data-content="{{ company.abstract }}">
                                {{ company.name  }}
                              </a>
                          </div>
                        </td>
                      </tr>
                      {% endif %}
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            
          </div>
        </div>
      </div>
    </div>
<script>
    $(document).ready(function(){
      $('[data-toggle="popover"]').popover();   
    });
</script>