---
layout: default_feria
---
<div id="page" class="clearfix">
  <div class="container">
    {% assign title01 = site.data.generalinfo.horarios_titulo_pagina  %}
    {% assign title02 = site.data.generalinfo.horarios_subtitulo_pagina %}
    {% assign title_icono = "icon-clock" %}
    {% assign title_tooltip = "Horarios" %}

    {% assign link01_ref ="empresas.html" %}
    {% assign link01_icono = "icon-building" %}
    {% assign link01_nombre = "Empresas" %}

    {% assign link02_ref ="index.html" %}
    {% assign link02_icono = "icon-home" %}
    {% assign link02_nombre = "Inicio" %}

    {% assign link03_ref ="platicas.html" %}
    {% assign link03_icono = "icon-users2" %}
    {% assign link03_nombre = "pláticas" %}

    {% assign link04_ref ="stands.html" %}
    {% assign link04_icono = "icon-map-marker" %}
    {% assign link04_nombre = "Stands" %}
    {% include hexa.html %}
    <div class="row no-gutters">
      <div class="col-xl-8 pr-xl-2">
        <div class="card mb-3 mb-lg-0">
          <div class="card-header bg-light">
            <h5 class="mb-0">Programa de Actividades</h5>
          </div>
          <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="card-body fs--1">
                    {% for actividad in site.data.actividades.actividades %}
                    <div class="media btn-reveal-trigger">
                      <div class="calendar">
                        <span class="calendar-month">{{ actividad.mes }}</span>
                        <span class="calendar-day">{{ actividad.dia }}</span>
                      </div>
                      <div class="media-body position-relative pl-3">
                        <h6 class="fs-0 mb-0"><a href="../pages/event-detail.html">{{ actividad.nombre }}</a></h6>
                        <p class="mb-1">{{ actividad.abstract }}</p>
                        <p class="text-1000 mb-0">Hora: {{ actividad.hora }}</p>
                        {% if actividad.lugar != 'a' %}
                        <p class="text-1000 mb-0">Lugar: {{ actividad.lugar }}</p>
                        {% endif%}
                        Recinto: {{ actividad.recinto }}
                        <hr class="border-dashed border-bottom-0">
                      </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <div class="card-body fs--1">
                  {% for actividad in site.data.actividades.actividades2 %}
                  <div class="media btn-reveal-trigger">
                    <div class="calendar">
                      <span class="calendar-month">{{ actividad.mes }}</span>
                      <span class="calendar-day">{{ actividad.dia }}</span>
                    </div>
                    <div class="media-body position-relative pl-3">
                      <h6 class="fs-0 mb-0"><a href="../pages/event-detail.html">{{ actividad.nombre }}</a></h6>
                      <p class="mb-1">{{ actividad.abstract }}</p>
                      <p class="text-1000 mb-0">Hora: {{ actividad.hora }}</p>
                      {% if actividad.lugar != 'a' %}
                      <p class="text-1000 mb-0">Lugar: {{ actividad.lugar }}</p>
                      {% endif%}
                      Recinto: {{ actividad.recinto }}
                      <hr class="border-dashed border-bottom-0">
                    </div>
                  </div>
                  {% endfor %}
              </div>
            </div>
          </div>

        </div>
      </div>
      {% include izquierda.html %}
    </div>
  </div>
</div>
    