---
layout: default_feria
---
<div id="page" class="clearfix">
  <div class="container">
    {% assign title01 = site.data.generalinfo.empresas_titulo_pagina %}
    {% assign title02 = site.data.generalinfo.empresas_subtitulo_pagina %}
    {% assign title_icono = "icon-building" %}
    {% assign title_tooltip = "Empresas" %}
    
    {% assign link02_ref ="horarios.html" %}
    {% assign link02_icono = "icon-clock" %}
    {% assign link02_nombre = "Horarios" %}

    {% assign link01_ref ="index.html" %}
    {% assign link01_icono = "icon-home" %}
    {% assign link01_nombre = "Inicio" %}

    {% assign link03_ref ="platicas.html" %}
    {% assign link03_icono = "icon-users2" %}
    {% assign link03_nombre = "pláticas" %}

    {% assign link04_ref ="stands.html" %}
    {% assign link04_icono = "icon-map-marker" %}
    {% assign link04_nombre = "Stands" %}

    {% include hexa.html %}
    <div class="row">
      <div class="col-xs-12 col-md-9">
        {% assign no_empresa = 1 %}
        {% for company in site.data.companies.companies %}
        {% if no_empresa == 1 %}
        <div class="card-deck mb-3 text-center">
        {% endif %}
          <div class="card mb-4 shadow-sm">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal">{{ company.name }}</h4>
            </div>
            <div class="card-body">
              <img src="{{ company.logourl }}" class="img-thumbnail rounded" style="{{ company.heightStyle }}" title="{{ company.name }}">
              
              <ul class="list-unstyled mt-3 mb-4">
                <li><strong>{{ company.carreras }}</strong></li>
                <hr>
                <li>{{ company.teaser }}   
                 <a href="#" onclick="javascript:return false;" title="{{ company.name }}" data-toggle="popover" data-trigger="focus" data-content="{{ company.abstract }}">más info...</a>
                </li>
              </ul>
              <a   href="{{ company.siteurl }}" target="_blank" class="btn btn-lg btn-block btn-outline-primary">Visitanos</a>
            </div>
          </div>
        {% if no_empresa == 3 %}
          </div>
          {% assign no_empresa = 0 %}
        {% endif %}
        {% assign no_empresa = no_empresa | plus:1 %}
        {% endfor %}
        {% if no_empresa == 2 %}
        <div class="card border-0 mb-4"></div>
        <div class="card border-0 mb-4"></div>
        {% endif %}
        {% if no_empresa == 3 %}
        <div class="card border-0 mb-4"></div>
        {% endif %}
        {% if no_empresa != 1 %}
        </div>
        {% endif %}
      </div>
      <div class="col-xs-12 col-md-3">
        <aside class="widget ">
          <h5 class="short_headline"><span>	Mapa stands </span></h5>
          <p class="text-center"><a href="stands.html" class="btn custom-btn  btn-primary">Conoce el mapa de la feria aquí <i class=" e-icon-forward"></i></a></p> <br<br>
        </aside>
        <aside class="widget clearfix">
          <h5 class="short_headline"><span>	¿Cómo llegar? </span></h5>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3764.8721809638523!2d-99.1844845!3d19.331351999999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85ce0020ce0c7dc9%3A0xa56d188ae95369f0!2sUNAM+Facultad+de+Ingenier%C3%ADa!5e0!3m2!1ses!2smx!4v1441848297372" width="220" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
          <h5 class="primary-color">Transporte público</h5>
          <p>
            <a href="{{ site.data.generalinfo.index_metro_url }}" parent="_blank">{{ site.data.generalinfo.index_metro_title }}</a>  | 
            <a href="{{ site.data.generalinfo.index_metro_url }}" parent="_blank">{{ site.data.generalinfo.index_metrobus_title }}</a>
          </p>
          <h5 class="primary-color">Transporte interno CU</h5>
          <p><a href='http://www.pumabus.unam.mx/' parent='_blank'>Pumabus</a>: Ruta 1, ruta 7 y ruta 8 Parada Ingeniería</a>  </p>
          <br><br>
        </aside>
        <aside class="widget clearfix">
          <h5 class="short_headline"><span> Vacantes y anuncios </span></h5>
          <div class="fb-page" data-href="https://www.facebook.com/bolsatrabajofi" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false" data-show-posts="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/bolsatrabajofi"><a href="https://www.facebook.com/bolsatrabajofi">Visita la página de Facebook de Bolsa de Trabajo Facultad de Ingeniería UNAM</a></blockquote></div></div>
        </aside>
      </div>
    </div>
  </div>
</div>
<script>
    $(document).ready(function(){
      $('[data-toggle="popover"]').popover();   
    });
</script>

