---
layout: default_feria
---
<div id="page" class="clearfix">
  <div class="main-content container">
    {% assign title01 = site.data.generalinfo.platicas_titulo_pagina  %}
    {% assign title02 = site.data.generalinfo.platicas_subtitulo_pagina %}
    {% assign title_icono = "icon-users2" %}
    {% assign title_tooltip = "pláticas y Conferencias" %}
    
    {% assign link01_ref ="empresas.html" %}
    {% assign link01_icono = "icon-building" %}
    {% assign link01_nombre = "Empresas" %}

    {% assign link02_ref ="horarios.html" %}
    {% assign link02_icono = "icon-clock" %}
    {% assign link02_nombre = "Horarios" %}

    {% assign link03_ref ="index.html" %}
    {% assign link03_icono = "icon-home" %}
    {% assign link03_nombre = "Inicio" %}

    {% assign link04_ref ="stands.html" %}
    {% assign link04_icono = "icon-map-marker" %}
    {% assign link04_nombre = "Stands" %}

    {% include hexa.html %}
    <div class="row no-gutters">
      <div class="col-xl-8 pr-xl-2">
        {% for platica in site.data.platicas.platicas %}
        <div class="card mb-3">

          <div class="card-header bg-light">
            <div class="row">
              <div class="col-3">
                <img src="{{ platica.conferencista_foto }}" width="{{platica.image_width}}}" alt="">
              </div>
              <div class="col-9">
                <h4 class="card-title">{{ platica.conferencia_nombre }}</h4>
                <h6 class="card-subtitle mb-2 text-muted">
                  <p>{{ platica.conferencia_fecha }} </p>
                </h6>
              </div>
            </div>
          </div>
        
          <div class="card-body overflow-hidden">
            <div class="row justify-content-between">
              <div class="row">
                <div class="col-12 ml-4">
                  <table>
                    <tr><td>Ponente:    </td><td><strong>&nbsp;{{ platica.conferencista_nombre }}</strong></td></tr>
                    <tr><td>Recinto:    </td><td><strong>&nbsp;{{ platica.conferencia_lugar }}</strong></td></tr>
                    <tr><td>Horario:    </td><td><strong>&nbsp;{{ platica.conferencia_hora }} • <i class="icon-world"></i></strong></td></tr>
                  </table>
                </div>
              </div>
            </div>
          </div>

          <div class="card-footer bg-slider">
            <div class="row">
              <div class="col-md-8 col-sm-12">
                <p>{{ platica.conferencia_abstract }}</p>
              </div>
              <div class="col-md-4 col-sm-12">
                {{ platica.facebookEntry }}
                {% if platica.image_flyer != '' %}
                <a href="#" 
                    onclick="javascript:return false;" 
                    title="{{ platica.conferencia_nombre }}" 
                    data-toggle="popover" 
                    data-trigger="focus" 
                    data-img="{{ platica.image_flyer }}">
                    más info...
                </a>
                {% endif %}
            </div>
          </div>
        </div>
<!-- 
          <div class="card-footer bg-light pt-0">
            <div class="border-200 fs--1 py-3">
                {{ platica.conferencia_fecha }} • {{ platica.conferencia_empresa }}
            </div>
          </div> -->
      </div>
        {% endfor %}
      </div>
      {% include izquierda.html %}
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){
    //$('[data-toggle="popover"]').popover();   
    $('[data-toggle="popover"]').popover({
      html: true,
      content: function(){return '<img src="'+$(this).data('img') + '" />';}
    });
  });
</script>

<style>
.popover {
  max-width: 600px;
}
</style>
