  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
        <a href="index.html" class="logo d-flex align-items-center">
            <span>&nbsp;</span>
            <img class="divcenter3" src="data:image/png;base64,{{ site.data.images.ingenieria }}" alt="Facultad de Ingenieria" title="Facultad de Ingenieria">
        </a>
        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto active" href="index.html">Home</a></li>
                <li><a class="nav-link scrollto" href="empresas.html">Empresas</a></li>
                <li><a class="nav-link scrollto" href="platicas.html">Platicas</a></li>
                <li><a class="nav-link scrollto" href="stands.html">Agenda</a></li>
                <li><a class="nav-link scrollto" href="horarios.html">Horarios</a></li>
            </ul>
            <i class="bi mobile-nav-toggle bi-list"></i>
        </nav><!-- .navbar -->
    </div>
</header><!-- End Header -->